body{
	background-color: white;
	font-family: Booster Next FY ;
	font-size: 16px;
	line-height: 24px;
	margin: 0px;
	padding:0px;
	background-image: url('../pic/128807.png');
	background-size: cover;
	background-attachment: fixed;
}
.menu{
	width: 100%;
	height: 115px;
	background-color: black;
	position: fixed;
	top: 0;
	z-index: 2;
}
.menu img{
	margin: 10px 0px 10px 70px;
	float: left;
	display: inline-block;
}
.index{
	position: absolute;
	top: 25%;
	left: 43%;
}

.index a:link, .index a:visited{
	position: relative;
	display: inline-block;
	font-size: 17pt;
	text-decoration: none;
	border: 0px solid #d48883;
	border-radius: 3px;
	color: white;
	padding:15px 20px;
	overflow: hidden;
}
.index a:before{
	background-color: #d48883;
	content: "";
	position: absolute;
	top: 4%;
	left: 43%;
	z-index: -1;
	transition:  1s;
	width: 100%;
	height: 0;
	transform: translate(-50%,-50%) rotate(45deg);
}
.index a:hover:before{
	height: 320%;
}
.container{
	width: 100%;
	height: 2200px;
	display: block;
	margin-top: 115px;
	padding-top: 100px;
	background-color: white;
}
.left_box{
	width: 50%;
	margin-left: 134px;
	float: left;
}
.left_box a:link, .left_box a:visited{
	text-decoration: none;
	color: black;
}
.left_box a:hover{
	color: #6daca5;
	transition: 0.3s;
}
.left_box img{
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}
.pic_02 img{
	width: 50%;
	margin-right: 15px;
	float: left;
}
.flw{
	font-family: iciel helena;
	text-align: right;
}
.cmt{
	width: 100%;
	background-color: rgba(212,136,131,0.3);

}
form{
	padding: 50px;
}
form input[type=text], input[type=email], textarea{
	padding: 12px;
	border: 1px solid #6daca5;
}
input, textarea{
	width: 550px;
	font-family: booster next fy;
}
label{
	font-weight: bold; 
	font-family: iciel helena;
	font-size: 14pt;
}
/*a para lineeee*/

button{
	text-align: center;
	position: relative;
	top: 0;
	left: 495px;
	z-index: 1;
	border: 1px solid #6daca5;
	
	padding: 10px 14px;
	color: #6daca5;
	background-color: white;
	font-size: 16pt;
	
}
button:before{
	display: inline-block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;

	background-color: #d48883;
	width: 0;
	height: 100%;
	transition: 0.7s ease;
	z-index: -1;
}
button:hover:before{
	z-index: -1;
	width: 100%;

}
button:hover{
	color: white;
	transition: 0.7s;
	border:1px solid #d48883;
	cursor: pointer;
}

.right_box{
	width: 30%;
	float: left;
	margin-left: 20px;
}
.abme{
	padding: 40px;
	border: 0.2px solid gainsboro;
	box-shadow: 4px 4px 4px -4px gray;
}
.abme img{
	border-radius: 50%;
	position: relative;
	top: 0;
	left: 75px;
	padding: 10px;
}
.spc{
	font-family: iciel helena;
	font-size: 16pt;
	color: #d48883;
}
.abme p.firstline {
	margin-left: 55px;
}
.abme h1{
	text-align: center;
}
.seemore{
	text-align: center;
	position: relative;
	top: 0px;
	left: 135px;
	z-index: 1;
}
a.seemore:link, a.seemore:visited{
		position: relative;
	display: inline-block;
	
	text-decoration: none;
	border: 1px solid #4d928d;
	
	padding: 5px 8px;
	color: #4d928d;
	
}
a.seemore:before{
	display: inline-block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	
	background-color: #d48883;
	width: 0;
	height: 100%;
	transition: 0.7s ease;
	z-index: -1;
}
a.seemore:hover:before{
	z-index: -1;
	width: 100%;
}
a.seemore:hover{
	color: white;
	transition: 0.7s;
	border: 1px solid #d48883;
}
.follow_me{
	margin-top: 20px;
	padding: 40px;
	border: 0.2px solid gainsboro;
	box-shadow: 4px 4px 4px -4px gray;
}

.follow_me h1{
	text-align: center;
}
.icon{
	margin-left: 50px;

}
.ins{
	position: relative;
	left: 40px;
}
.twt{
	position: relative;
	left: 80px;
	top: -4px;
}
.follow_me p{
	text-align: center;
}
.follow_me .mail{
	font-weight: bold;
}
.viral{
	margin-top: 20px;
	padding: 40px;
	border: 0.2px solid gainsboro;
	box-shadow: 4px 4px 4px -4px gray;
}

.viral h1, h2{
	text-align: center;
}
.viral img {
	border-radius: 7px;
	margin-left: 15px;
}
.quotes{
	width: 50%;
		margin-top: 200px;
	margin-bottom: 200px;
	padding: 40px;
	
	margin-left: 360px;
	background-color: rgba(255,255,255,0.3);
	font-size: 24px;
	line-height: 36px;
}
.source{
	text-align: center;
	font-weight: normal;
	font-family: iciel helena;
}
.footer{
	width: 100%;
	height: 300px;
	background-color: white;
	
}
.footer .ind{
	padding-top: 100px;
	padding-left: 210px;
	line-height: 30px;
}
.leftind{
	width: 200px;
	float: left;
	text-align: right;
}
.leftind a:link, .leftind a:visited{
	
	text-decoration: none;
	color: black;
}
.rightind{
	float: left;
	border-left: 1px solid black;
	padding-left: 15px;
	margin-left: 15px;
}
.rightind a:link, .rightind a:visited{
	text-align: right;
	text-decoration: none;
	color: black;
}
.footer .ind a:hover{
	color: #6daca5;
	transition: 0.3s;
}
.footer .flg img{
	position: relative;
	left: 20px;
	top: -20px;
	float: left;
}
.icon{
	margin-left: 100px;
	float: left;
}
.icon .ins{
	position: relative;
	left: 20px;
}
.icon .twt{
	position: relative;
	left: 35px;
	top: 0px;
}
.footer p{
	text-align: center;
}