body{
	background-image: url('pic/128807.png');
	background-size: cover;
	background-attachment: fixed;
	font-family: Booster Next FY ;
	font-size: 16px;
	line-height: 24px;
	margin: 0px;
	padding:0px;
}
.menu{
	width: 100%;
	height: 115px;
	background-color: black;
	position: fixed;
	top: 0;
	z-index: 2;
}
.menu img{
	margin: 10px 0px 10px 70px;
	float: left;
	display: inline-block;
}
.index{
	position: absolute;
	top: 25%;
	left: 43%;
}

.index a:link, .index a:visited{
	position: relative;
	display: inline-block;
	font-size: 17pt;
	text-decoration: none;
	border: 0px solid #d48883;
	border-radius: 3px;
	color: white;
	padding:15px 20px;
	overflow: hidden;
}
.index a:before{
	background-color: #d48883;
	content: "";
	position: absolute;
	top: 4%;
	left: 43%;
	z-index: -1;
	transition:  1s;
	width: 100%;
	height: 0;
	transform: translate(-50%,-50%) rotate(45deg);
}
.index a:hover:before{
	height: 320%;
}
.left{
	width: 50%;
	overflow: hidden;
	height: 789px;
	float: left;
	border: 1px solid white;
}
a.left:link,a.left:visited{
	position: relative;
	top: 0;
	left: 0;
}
.left .overlay{
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background-image: url('newpic/gallery04.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: 0;
	transition: opacity 0.25s;

}
.left .overlay:hover{
	opacity: 1;
	transition: 0.8s ease;
}
.left h1{
	color: white;
	position: absolute;
	top: 350px;
	left: 270px;
	z-index: 1;
}
.right{
	width: 49.5%;
	overflow: hidden;
	height: 789px;
	float: left;
	border: 1px solid white;
}
.right img{
	position: relative;
	top: 3px;
}
.overlay1{
	position: absolute;
	display: flex;
	top:0px;
	left: 715px;
	width: 49.5%;
	height: 100%;
	background-image: url('newpic/gallery05.jpg');
	background-size: 100%;
	opacity: 0;
	transition: opacity 0.25s;
}
.overlay1:hover{
	opacity: 1;
	transition: 0.8s ease;
}
.right h1{
	color: white;
	position: absolute;
	top: 350px;
	left: 950px;
	z-index: 1;
}