body{
	background-color: white;
	font-family: Booster Next FY ;
	font-size: 16px;
	line-height: 24px;
	margin: 0px;
	padding:0px;
	background-image: url('pic/128807.png');
	background-size: cover;
	background-attachment: fixed;
}
.menu{
	width: 100%;
	height: 115px;
	background-color: black;
	position: fixed;
	top: 0;
	z-index: 2;
}
.menu img{
	margin: 10px 0px 10px 70px;
	float: left;
	display: inline-block;
}
.index{
	position: absolute;
	top: 25%;
	left: 43%;
}

.index a:link, .index a:visited{
	position: relative;
	display: inline-block;
	font-size: 17pt;
	text-decoration: none;
	border: 0px solid #d48883;
	border-radius: 3px;
	color: white;
	padding:15px 20px;
	overflow: hidden;
}
.index a:before{
	background-color: #d48883;
	content: "";
	position: absolute;
	top: 4%;
	left: 43%;
	z-index: -1;
	transition:  1s;
	width: 100%;
	height: 0;
	transform: translate(-50%,-50%) rotate(45deg);
}
.index a:hover:before{
	height: 320%;
}
.box_01{
	background-color: #d48883;
	padding: 150px 300px 70px 300px;
}
.box_01 img{
 	float: left;
 	border-radius: 50%;
}
.box_01 .box_01a{
	padding-top: 5px;
	position: relative;
	left: 20px;
}
.chunk{
	width: 80%;
	height: 600px;
	margin-top: 50px;
	margin: 0 auto;
	background-color: white;
}
.chunk .pg1{
	width: 330px;
	padding: 20px;
	padding-left: 40px;
	float: left;
}
.bgpic{
	height: 330px;
	overflow: hidden;

}
.chunk .pg1 h2{
	text-align: center;
}
.chunk .pg2{
	width: 330px;
	padding: 20px;
	float: left;
}
.chunk .pg2 h2{
	text-align: center;
}
.chunk .pg3{
	width: 330px;
	padding: 20px;
	float: left;
}
.chunk .pg3 h2{
	text-align: center;
}

.seemore{
	text-align: center;
	position: relative;
	top: 10px;
	left: 0;
	z-index: 1;
}
.seemore a:link, .seemore a:visited{
	position: relative;
	display: inline-block;
	
	text-decoration: none;
	border: 1px solid #4d928d;
	
	padding: 5px 8px;
	color: #4d928d;
	
}
.seemore a:before{
	display: inline-block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	
	background-color: #d48883;
	width: 0;
	height: 100%;
	transition: 0.7s ease;
	z-index: -1;
}
.seemore a:hover:before{
	z-index: -1;
	width: 100%;

}
.seemore a:hover{
	color: white;
	transition: 0.7s;
	border: 1px solid #d48883;
}
h5{
	text-align: right;
	
	line-height: 4pt;
}
.chunk1{
	width: 80%;
	height: 600px;
	margin-top: 50px;
	margin: 0 auto;
	background-color: white;
}
.chunk1 .pg1{
	width: 330px;
	padding: 20px;
	padding-left: 40px;
	float: left;
}
.chunk1 .pg1 .bgpic{
	width: 330px;
	height: 330px;
	display: block;
	overflow: hidden;

}
.chunk1 .pg1 h2{
	text-align: center;
}

.chunk1 .pg2{
	width: 330px;
	padding: 20px;
	float: left;
}
.chunk1 .pg2 h2{
	text-align: center;
}
.chunk1 .pg2 .bgpic img{
	position: relative;
}
.chunk1 .pg3{
	width: 330px;
	padding: 20px;
	float: left;
}

.chunk1 .pg3 h2{
	text-align: center;
}

.page{
	margin-top: 50px;
	position: relative;
	left: 700px;
	height: 30px;
	width: 30px;
	background-color: #d48883;
	border-radius: 50%;
	display: inline-block;

}
.page .page1{
 	position: relative;
 	left: 11px;
 	top: 5px;
 	color: white;
}
a.page:link, a.page:visited{
	text-decoration: none;
}
a.page:hover{
	background-color: #6daca5;
	transition: 0.8s;
}
.bgch{
	width: 100%;
	background-color: white;
	height: 1450px;
	padding-top: 50px;
}
.quotes{
	width: 50%;
		margin-top: 200px;
	margin-bottom: 200px;
	padding: 40px;
	
	margin-left: 360px;
	background-color: rgba(255,255,255,0.3);
	font-size: 24px;
	line-height: 36px;
}
.source{
	text-align: center;
	font-weight: normal;
	font-family: iciel helena;
}
.footer{
	width: 100%;
	height: 300px;
	background-color: white;
	
}
.footer .ind{
	padding-top: 100px;
	padding-left: 210px;
	line-height: 30px;
}
.leftind{
	width: 200px;
	float: left;
	text-align: right;
}
.leftind a:link, .leftind a:visited{
	
	text-decoration: none;
	color: black;
}
.rightind{
	float: left;
	border-left: 1px solid black;
	padding-left: 15px;
	margin-left: 15px;
}
.rightind a:link, .rightind a:visited{
	text-align: right;
	text-decoration: none;
	color: black;
}
.footer .ind a:hover{
	color: #6daca5;
	transition: 0.3s;
}
.footer .flg img{
	position: relative;
	left: 20px;
	top: -20px;
	float: left;
}
.icon{
	margin-left: 100px;
	float: left;
}
.icon .ins{
	position: relative;
	left: 20px;
}
.icon .twt{
	position: relative;
	left: 35px;
	top: 0px;
}
.footer p{
	text-align: center;
}