body{
	font-family: SVN-gotham;
	font-size: 16px;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
}
/*menu*/
.menu{
	background-color: transparent;
	color: black;
	width: 100%;
	position: fixed;
	z-index: 1000;
	
}
.modal-backdrop{
	z-index: 0;
}
.search_area{
	font-size: 30px;
	left: -40px;
	top: -25px;
}
.search_container{
	background-color: #f1c39d;
}
.search_area input[type=text]{
	background-color: #f1c39d;
	width: 0;
	font-size: 16px;
	outline: none;

}

#search_desktop{
	left: -300px;
	width: 340px;

}
.icon{
	position: absolute;
	top: 0;
	width: 60px;
	height: 60px;
	right: 100px;
	transition: all 0.5s 0.3s ease;
}
.icon i{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	cursor: pointer;
	font-size: 30px;
}
.icon_02 i{
	font-size: 30px;
	letter-spacing: 10px;
}
.scrolling_active{
	background-color: #924032;
}
.modal .remind{
	font-size: 0.7rem;
}
.form{
  width: 24rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: white;

}
.form_group{
  position: relative;
  height: 3rem;

}
.form_input{
  width: 100%;
  height: 100%;
  border : 2px solid black;
  font-family: svn-gotham;
  font-weight: normal;
  outline: none;
  padding: 1.25rem;
  background-color: transparent;
}
.form_input:focus{
  border-color: #e9c2d0;
  border-radius: 0.5rem;
}
.form_label{
  position: absolute;
  left: 1.5rem;
  top: -1.3rem;
  padding: 0.5rem;
  background-color: white;
}
.form_input:focus ~ .form_label{
  color: #e9c2d0;
}
#warning_input, #warning_input2{
  color: red;
}

.shopping_cart td input{
  width: 50px;
}
.shopping_cart .mycart{
  width: 50%;
}
.shopping_cart .cart_01{
  padding: 1rem;
}
.shopping_cart .remove{
  cursor: pointer;
}
/*end menu*/
/*banner*/
.banner_01{
	position: relative;
	background-image: url('img/home/banner_01.gif');
	background-size: 100%;
	background-repeat: no-repeat;
	height: 700px;
	display: flex;
}
/*hot item*/
.tag_container{
	position: relative;
}
.hot_item{
	position: relative;
	left: 0;
	width: 20%;
	background-color: #e9c2d0;
	text-align: right;
	font-family: iciel rukola;
	font-size: 35px;
	padding-right: 10px;
	
}
.border_hotItem{
	width: 20.5%;
	height: 50px;
	border: 1px solid black;
	position: absolute;
	top: 10px;
	left: 0;
	z-index: -1;
}
.slide_box{
	position: relative;
	top: 0;
	left: 0;
}
 .hotitem_text{
	position: absolute;
	top: 20px;
	
	display: inline-block;
	z-index: 10;
	padding: 5%;

}
.hotitem_text a.seemore:link, .hotitem_text a.seemore:visited{
	position: relative;
	display: inline-block;
	color: white;
	overflow: hidden;
	font-size: 1.3rem;
	padding: 5px 10px;
	
	background-color: #e9c2cf;
	border-radius: 20px;

}
.hotitem_text a.seemore:hover{
	text-decoration: none;
	color:  #e9c2cf;
	transition: 0.5s ease;
	z-index: 2;

}
.hotitem_text a.seemore:before{
	display: inline-block;
	content: "";
	position: absolute;
	top: 0;
	left: 0px;
	border-radius: 20px;
	background-color: white;
	width: 0;
	height: 100%;
	transition: 0.5s ease;
	z-index: -1;
}
.hotitem_text a.seemore:hover:before{
	width: 100%;
	z-index: -1;
	
}
.slick-active{
	opacity: 1;
}
/*new product*/
.New_product{
	background-color: #dcbe90;
	font-family: iciel rukola;
	width: 40%;
	font-size: 35px;
	padding-left: 10px;
}
#Newproduct_carousel .carousel-inner{
	height: 800px;
}
#Newproduct_carousel .carousel-item{
	position: relative;

}
#Newproduct_carousel .carousel-item .newpr_text{
	position: absolute;
	top: 75%;
	left: 50%;
	width: 50%;
	z-index: 99;
	background-color: rgba(233,194,208,0.5);
	padding: 15px;
}
#Newproduct_carousel .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
#Newproduct_carousel .carousel-control-next-icon{
	 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");

}
/*button*/
a.btn_02:link,a.btn_02:visited{
  color: black;
}

a.btn_02{
  position: relative;
  float: right;
  padding: 5px 12px;
  font-weight: bolder;
  transition: all .2s ease;

}
a.btn_02:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background-color: rgba(229,97,92,0.5);
  width: 40px;
  height: 40px;
  transition: all .3s ease;
}
.btn_02 span{
  position: relative;
}
a.btn_02:hover:before{
  width: 100%;
   background-color: rgba(229,97,92,1);
}
a.btn_02:hover{
  text-decoration: none;
}


/*card product*/


.product_card{
 	display: inline-block;
  border-radius: 30px;
  color: black;
  margin-top: 15px;
 

}
.product_card .sold{
  border: 2.5px solid #bf7157;
  padding: 4px;
  font-size: 12px;
  position: relative;
  top: 5px;
  color: #bf7157;
}
.product_card h3.price{
	color: #bf7157;
}
.product_card a.product_name:link, .product_card a.product_name:visited{
  color: black;
}
.product_card a.product_name:hover{
  color: #bf7157;
}
.product_card input::-webkit-outer-spin-button,
.product_card input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity{
  float: left;
}
.quantity button, input{
  display: inline-block;
  padding: 5px;
  outline: none;
  width: 40px;
  font-weight: bolder;
  border: none;
  background-color: white;
  margin-left: -5px;
}
.quantity button:hover{
  background-color: gainsboro;
}
.product_card .fas{
  float: left;
  font-size: 35px;
  margin-left: 10px;
  color: black;
}
.product_card .fas:hover{
  color: #bf7157;
}
.product_card .btn_02{
 position: relative;
 left: 15px;

}

/*end card*/
/* about us */
.about_us{
	background-color: #f1c39d;
	
	position: relative;
	display: flex;
	flex-direction: column;
}
.about_us img.logo{
	margin: auto;
	width: 15%;
}
.about_us video{
	position: relative;
	width: 70%;
	margin-top: 10px;
	
}

.about_us .media_box{
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;

}
.about_us .media_box img.moodboard{
	width: 60%;
	margin-left: auto;
	margin-top: 20px;
}

.about_us .name_02{
	font-family: iciel rukola;
	font-size: 5em;
	margin: auto;
	position: absolute;
	color: white;
	text-align: right;
	top: 560px;
	left: 190px;
	line-height: 70px;
	
}
/*footer*/

.footer_contain{
	color: black;
	background-image: linear-gradient(to bottom right,#f0d19b,#924032);
	
}
.bold{
	font-weight: bold;
}
.footer{
	line-height: 24pt;
	display: block;

}

.footer a.nav-link:link, .footer a.nav-link:visited{
	color: black;
	padding: 0;

}
.footer a.nav-link:hover{
	color: #e9c2d0;
}
.footer .fab{
	font-size: 40px;
	color: black;
	letter-spacing: 20px;
}
.footer .fab:hover{
	color: #e9c2d0;
}
.sub_form{
	background-color: white;
	display: inline-block;
	overflow: hidden;
	margin: auto;
}
.sub_form input{
 	width: 300px;
 	padding: 10px 14px;
 	border: none;
 	outline: none;
}
.sub_form button{
	padding: 10px 14px;
	background-color: white;
	border : none;
}
.footer_contain img{
	width: 15%;
}
/*back to top button*/
#backtotop{
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	color: black;
	background-color: transparent;
	bottom: 1em;
	width: 1,2em;
	height: 1,2em;
	right: 1em;
	border : 0.1em solid black;
	padding :3px;
}

/*responsive*/

@media screen and (max-width: 320px){
	body{
		font-size: 12px;
	}
	h3{
		font-size: 1rem;
	}
	.banner_01{
		
		margin: 0;
		height: 150px;

		background-color: pink;
	}
	.hot_item{

	font-size: 1.8rem;
	width: 40%;
	height: 50px;
	z-index: 3;
}
.border_hotItem{
	width: 43%;
	height: 50px;
	border: 1px solid black;
}
.menu{
	background-color: #924032;
	
}
.New_product{
	width: 80%;
}
.slideshow_01{
	margin: 30px auto;
}
.product_card .sold{
  position: relative;
  top: -3px;
}
.quantity{
	position: relative;
	left: 20px;
}
.product_card .fas{
	position: relative;
	left: 20px;
}
.about_us img.logo{
	width: 40%;
}
.about_us .media_box img.moodboard{
	width: 100%;
}
.about_us .media_box video{
	width: 100%;
}
.about_us .name_01{
	font-family: iciel rukola;
}
.footer_contain h4{
	font-size: 12px;
}
.footer_contain .sub_form{
	width: 100%;
}
.footer_contain .sub_form input{
	width: 80%;
	font-size: 8px;
}
.footer_contain img{
	width: 50%;
}
.payment{
	width: 300px;
}
.form{
	width: 100%;
}
.form_label{
  position: absolute;
  left: 1rem;
  top: -1rem;
  padding: 0.5rem;
  background-color: white;
}
.mobile_icon input{
	outline: none;
}
 .shopping_cart .mycart{
  width: 100%;
}
.shopping_cart td input{
  width: 30px;
}
.shopping_cart .cart_01{
  padding: 0;
}
a.btn_02{
  padding:8px 12px;
}

}