body{
	background-image: url('pic/128807.png');
	background-size: cover;
	background-attachment: fixed;
	font-family: Booster Next FY ;
	font-size: 16px;
	line-height: 24px;
	margin: 0px;
	padding:0px;
}
.menu{
	width: 100%;
	height: 115px;
	background-color: black;
	position: fixed;
	top: 0;
	z-index: 2;
}
.menu img{
	margin: 10px 0px 10px 70px;
	float: left;
	display: inline-block;
}
.index{
	position: absolute;
	top: 25%;
	left: 43%;
}

.index a:link, .index a:visited{
	position: relative;
	display: inline-block;
	font-size: 17pt;
	text-decoration: none;
	border: 0px solid #d48883;
	border-radius: 3px;
	color: white;
	padding:15px 20px;
	overflow: hidden;
}
.index a:before{
	background-color: #d48883;
	content: "";
	position: absolute;
	top: 4%;
	left: 43%;
	z-index: -1;
	transition:  1s;
	width: 100%;
	height: 0;
	transform: translate(-50%,-50%) rotate(45deg);
}
.index a:hover:before{
	height: 320%;
}
.container{
	width: 100%;
	height: 1500px;
	background-color: white;
}
.container h1{
	text-align: center;
	padding-top: 215px;
}
.container h4{
	margin-left: 700px;
	margin-top: -15px;
}
.all{
	width: 70%;
	border: 2px solid black;
	border-radius: 10px;
	margin-left: 216px;
	margin-top: 30px;
	background-image: url('pic/bgrpattern.png');
	background-position: 18% 20%;
	background-attachment: fixed;
	padding: 20px;
	background-repeat: no-repeat;
	display: inline-block;
	background-color: rgba(212,136,131,0.3);
}
.all img{
	float: left;
	position: relative;
	top: 100px;
}
form{
	float: left;
	position: relative;
	top: 50px;
	left: 25px;
}
.mail{
	font-weight: bold;
}
form input[type=text], input[type=email], textarea{
	padding: 12px;
	border: 1px solid #6daca5;
}
input, textarea{
	width: 98%;
	font-family: booster next fy;
}
label{
	font-weight: bold; 
	font-family: iciel helena;
	font-size: 14pt;
}
/*a para lineeee*/

button{
	text-align: center;
	position: relative;
	top: 0;
	left: 342px;
	z-index: 1;
	border: 1px solid #6daca5;
	
	padding: 10px 14px;
	color: #6daca5;
	background-color: white;
	font-size: 16pt;
	
}
button:before{
	display: inline-block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	
	background-color: #d48883;
	width: 0;
	height: 100%;
	transition: 0.7s ease;
	z-index: -1;
}
button:hover:before{
	z-index: -1;
	width: 100%;

}
button:hover{
	color: white;
	transition: 0.7s;
	border:1px solid #d48883;
	cursor: pointer;
}
.quotes{
	width: 50%;
		margin-top: 200px;
	margin-bottom: 200px;
	padding: 40px;
	
	margin-left: 360px;
	background-color: rgba(255,255,255,0.3);
	font-size: 24px;
	line-height: 36px;
}
.source{
	text-align: center;
	font-weight: normal;
	font-family: iciel helena;
}
.sme{
	margin-left: 450px;
	margin-top: 30px;
	
}
.sme a:link, .sme a:visited{
	text-decoration: none;
	color: black;
	font-size: 16pt;
	font-weight: bold;
}
.sme a:hover{
	color: #6daca5;
	transition: 0.3s;
}
.sme img{
	float: left;
	position: relative;
	top: 10px;
}
.sme p{
	float: left;
	position: relative;
	left: 10px;
}
.text{
	width: 400px;
	float: left;
	position: relative;
	top: -145px;
	left: 50px;
	font-size: 14pt;
}
.fw{
	text-align: right;
	position: relative;
	top: -45px;
	font-family: iciel helena;
	font-size: 16pt;
}
h1{
	margin-top: -30px;
}
.footer{
	width: 100%;
	height: 300px;
	background-color: white;
	
}
.footer .ind{
	padding-top: 100px;
	padding-left: 210px;
	line-height: 30px;
}
.leftind{
	width: 200px;
	float: left;
	text-align: right;
}
.leftind a:link, .leftind a:visited{
	
	text-decoration: none;
	color: black;
}
.rightind{
	float: left;
	border-left: 1px solid black;
	padding-left: 15px;
	margin-left: 15px;
}
.rightind a:link, .rightind a:visited{
	text-align: right;
	text-decoration: none;
	color: black;
}
.footer .ind a:hover{
	color: #6daca5;
	transition: 0.3s;
}
.footer .flg img{
	position: relative;
	left: 20px;
	top: -20px;
	float: left;
}
.icon{
	margin-left: 100px;
	float: left;
}
.icon .ins{
	position: relative;
	left: 20px;
}
.icon .twt{
	position: relative;
	left: 35px;
	top: 0px;
}
.footer p{
	text-align: center;
}