@font-face {
  font-family: SVN-Gotham;
  src: url("../fonts/SVN-Gotham Black.otf");
}
@font-face {
  font-family: Questrial Regular;
  src: url("../fonts/Questrial-Regular.ttf");
}
body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: Questrial Regular;
  width: 100%;
  overflow-x: hidden;
}
nav .scrollingnav {
  font-family: SVN-Gotham;
}
.nav_1 {
  z-index: 1000;
}
.scrollingnav {
  position: fixed;
  width: 100%;
  top: 0;
  opacity: 0;
  z-index: 999;
  font-family: SVN-Gotham;
}
.scrollingnav .navbar-nav li a:hover {
  color: #eb9c40 !important ;
  transition: 0.3s;
}
.scrollingnav .navbar .icon a.myicon :hover {
  color: #eb9c40 !important ;
  transition: 0.3s;
}
.scrolling_active {
  opacity: 1;
  transition: opacity 0.8s;
}
.myicon {
  outline: none;
}
.modal-backdrop {
  z-index: 1;
}
.table_cart thead {
  background-color: #a60817;
  color: white;
  transition: 1s;
}
.table_cart tbody {
  background-color: #eb9c40;
}
table {
  border: none;
}
#nothing {
  opacity: 0;
  transition: 1s;
}
.quantity button,
input {
  background-color: transparent;
  border: none;
  outline: none;
}
.quantity input {
  width: 20%;
}
.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.button00 {
  display: inline-block;
  background-color: #eb9c40;
  color: white;
  font-family: Questrial Regular;
  transition: linear 0.35s;
  border: 1px solid #eb9c40;
}
.button00:hover {
  background-color: white;
  color: #eb9c40;
}
.red_bg {
  background-color: #a60817;
  border: none;
}
.yl_bg {
  background-color: #eb9c40;
  border: none;
}

.side_click {
  position: fixed;
  right: 0;
  top: 60%;
  transition: ease 0.5s;
  z-index: 999;
}
.toggle_class {
  background-color: #eb9c40;
  padding: 7px 7px;
  cursor: pointer;
}
.toggle_class .fa-chevron-left {
  transition: 0.4s;
}
.toglrrrr {
  transform: translateX(-3.12rem);
}
.spinnnn {
  transform: rotate(-90deg);
}
.grr {
  transition: 0.5s;
}
.side {
  transform: translateX(3.12rem);
  background-color: #eb9c40;
  scroll-behavior: smooth;
}
button.side_button {
  background-color: transparent;
  border: none;
}
.btn_1 {
  font-size: 1rem;
  color: white;
  background-color: #eb9c40;
  padding: 12px 15px;
  border-radius: 0.8rem;
  border: 1px solid #eb9c40;
}
.btn_1:hover {
  background-color: white;
  border: 1px solid #eb9c40;
  color: #eb9c40;
  text-decoration: none;
}
/* Top nav */
.fontspan {
  font-family: SVN-Gotham;
}
.big_text {
  text-align: center;
  font-family: MTD colatin;
  margin-top: 7rem;
  font-size: 100px;
  text-shadow: 2px 2px #ff0000;
}
.nav_fix1 {
  margin-top: -2rem;
}
.bg_nav_big {
  height: 150px;

  color: white;
  background-color: #a60817;
}
.bg_nav {
  background-color: #a60817;
  color: white;
  position: fixed;
  z-index: 1000;
}
a.nav_item:link,
a.nav_item:visited {
  color: white;
  text-decoration: none;
}
a.nav_item1:link,
a.nav_item1:visited {
  color: white;
  text-decoration: none;
  padding-right: 3rem;
}
a.nav_item2:link,
a.nav_item2:visited {
  color: white;
  text-decoration: none;
  padding-left: 3rem;
}
a.nav_item:hover {
  text-decoration: underline;
}
a.nav_item1:hover {
  text-decoration: underline;
}
a.nav_item2:hover {
  text-decoration: underline;
}
.logo_png {
  bottom: 10%;
  left: 44.5%;
  max-width: 10rem;
  max-height: 5rem;
  position: absolute;
}
.logo_nav_2 {
  max-width: 9rem;
}
.logo_320 {
  width: 50px;
}
.logo_320 img {
  width: 100px;
  margin-left: -15px;
}
a.icon:link,
a.icon:visited {
  color: white;
  padding-right: 0rem;
  font-size: 1.2rem;
}
a.icon:hover {
  color: #eb9c40;
}
.drop {
  margin-top: 1rem;
}
.border_nav {
  min-width: 440px;
  border-top: 2px solid white;
}
.container_pad {
  padding-right: 50px;
  padding-left: 50px;
}
.btn_1 {
  font-size: 1rem;
  color: white;
  background-color: #eb9c40;
  padding: 12px 15px;
  border-radius: 0.8rem;
  border: 1px solid #eb9c40;
}
.btn_1:hover {
  background-color: white;
  border: 1px solid #eb9c40;
  color: #eb9c40;
  text-decoration: none;
}
/* body */

/*breadcrumb*/
.bg_breadcrumb {
  padding-top: 5rem;
}
.myfont {
  font-family: svn-gotham black;
}
.red_color {
  color: #a60817;
}
.orange_color {
  color: #eb9c40;
}
.bg_red {
  background-color: #a60817;
}
.bg_orange {
  background-color: #eb9c40;
}

/*tabs*/

.nav-tabs .nav-link.active {
  color: #a60817 !important;
  background-color: transparent;
  border-bottom: 2px solid #a60817;
}
.nav-tabs {
  background-color: #eb9c40;
}
.nav-tabs .nav-link {
  border: none;
}
#shipping_tabs .nav-link.active {
  color: #a60817 !important;
}
table.tb_danggiao {
  background-color: #eb9c40;
}
.hiding {
  display: none;
}
.hereur {
  display: table-row;
}
.dissapear {
  opacity: 0;
}
.coupon_01 {
  border-radius: 1rem;
}
.coupon_02 {
  border-radius: 1rem 0.5rem 0.5rem 1rem;
}
.my_profile {
  height: 30vh;
  background-image: url("../img/cover_pic.jpg");
  background-size: cover;
  background-position-y: 80%;
}
.square {
  height: 150px;
  width: 150px;
  cursor: pointer;
}
.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.4s;
}
.square:hover .overlay {
  opacity: 1;
}
.first_row {
  background-color: #eb9c40;
}
.second_row {
  background-color: rgba(235, 156, 64, 0.5);
}
/*yeu thich*/
.fa-heart {
  color: #a60817;
  cursor: pointer;
}
#nav-yeuthich table tr:nth-child(odd) {
  background-color: #eb9c40;
}
#nav-yeuthich table tr:nth-child(even) {
  background-color: rgba(235, 156, 64, 0.5);
}
.editbtn,
.press_again{
  display: none;
}
.missthis{
  display: none !important;
} 
.sudung:hover{
  color: white;
  transition: .4s;
}
/* footer */
.v_gotham {
  font-family: SVN-Gotham Black;
}
.v_footer {
  padding: 50px;
  background-color: #a60817;
}
.v_footerlink {
  transition: ease 0.7s;
  opacity: 0.8;
  color: white;
  line-height: 44px;
}
.v_footerlink:hover {
  text-decoration: none;
  opacity: 1;
  color: white;
}
.v_line {
  margin: auto;
  height: 1px;
  width: 756px;
  background-color: white;
}
.v_email {
  background-color: white;
  outline: none;
  border: none;
  height: 37px;
  width: 310px;
  padding-left: 20px;
  border-radius: 50px;
}
.v_sent {
  transition: ease 0.7s;
  border-radius: 50px;
  color: white;
  background-color: #eb9c40;
  padding: 15px 63px;
}
.v_sent:hover {
  color: #eb9c40;
  background-color: white;
  text-decoration: none;
}
.v_copyright {
  background-color: black;
}
.v_copyleft {
  text-align: right;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 38px;
}

@media screen and (max-width: 320px) {
  .navbar .scrollingnav {
    display: none;
  }
  .scrollingnav .navbar .icon i {
    font-size: 16px;
    margin-left: 5px !important;
    transition-duration: ;
  }
  body {
    width: 320px;
    overflow-x: hidden;
  }
  .v_footer {
    padding: 20px;
    font-size: 16px;
  }
  .v_email {
    width: 280px;
  }
  .v_sent {
    padding: 15px 50px;
  }
  .v_footerlink {
    line-height: 12px;
  }
  .v_ll {
    text-align: center;
  }
  .v_copyleft {
    font-size: 12px;
    text-align: center;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .v_batd {
    margin-top: 20px;
  }
  .v_cucai {
    height: 15px;
  }
  .v_caithao {
    height: 9px;
  }
  /* card */
  .title_card,
  .price {
    font-size: 20px;
  }
  .img_box {
    max-height: 250px;
  }
  .img_box img {
    max-width: 13rem;
    max-height: 13rem;
    top: 1.3125rem;
    left: 1.4375rem;
  }
  h4,
  h3,
  h2 {
    font-size: 20px;
  }
  /* end copy */
  .nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #eb9c40;
  }
  .nav-tabs::-webkit-scrollbar {
    display: none;
  }
  .nav-tabs {
    font-size: 16px !important;
  }
  .nav-tabs .nav-link {
    align-self: center;
    margin: 0 auto;
    white-space: nowrap;
    margin-left: 1rem;
    border: none;
  }
  table.tb_danggiao .p-3,
  #nav-yeuthich .p-3,
  #nav-coupon .p-3 {
    padding: 6px !important;
  }
  table.tb_danggiao {
    line-height: 16px;
  }
  .noname .flex-column {
    display: flex !important;
    flex-direction: row !important;
    margin-left: 1rem;
  }
  #nav-coupon .coupon_02 p {
    margin-left: 10px;
  }
  .my_profile {
    padding: 10px !important;
  }
  .square {
    height: 100px;
    width: 100px;
  }
  .btn-danger {
    margin-top: 1rem;
  }
}
